<headercomponent></headercomponent>
<menu style="margin: 0;padding: 0;"></menu>
    <main>
        <div class="table">
            <div class="headermenucategoria">
                <h3>Adicionar nova Categoria</h3>
            </div>
            <form action="">
                <p>O id da Categoria criada será gerada automaticamente</p>
                <input type="nome" placeholder="nome da Categoria" maxlength="128"> 
                <button type="submit">Enviar</button>
            </form>
        </div>
    </main>
<footer></footer>