nav{
    width: 100%;
    min-height: 60px;
    background-color: #4b1966;
    display: flex;
    justify-content: space-between;
}
.user img{
    width: 45px;
    border-radius: 50%;
    border: 2px solid #ebcc76;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user p{
    margin-left: 5px;
    color: #FFF;
}
.logo{
    margin-left: 50px;
    width: 45px;
    height: 45px;
    border: none;
    margin-top: 5px;
}

.logo:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: 0.1s;
}
.sino{
    width: 30px;
    margin-right: 10px;
}
.sino:hover{
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}
.usuario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
