<main>
    <div class="container">
        <div class="searchdiv">
            <input type="search" placeholder="Pesquise por ID, Categoria ou partNumber">
            <div class="imglupa">
                <img src="../../assets/lupaa.png" alt="">
            </div>
        </div>
        <div class="categorias">
            <select name="" id="">
                <option value="" selected disabled>+ Categoria</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>

        <div class="buttonnovo">
            <a [routerLink]="['novodispositivo']">

                <button>Novo dispositivo</button>
            </a>
        </div>
    </div>
</main>