<main>
    <div class="container">
        <div class="searchdiv">
            <input type="search" placeholder="Pesquise por ID, Categoria ou partNumber">
            <div class="imglupa">
                <img src="../../assets/lupaa.png" alt="">
            </div>
        </div>
        <div class="categorias">
            <a [routerLink]="['/categorias']">
                <button>
                    Visualizar Categorias
                </button>
            </a>
        </div>

        <div class="buttonnovo">
            <a [routerLink]="['/']">
                <button>Visualizar Dispositivos</button>
            </a>
        </div>
    </div>
</main>